{% macro render_main_menu() -%}
<ul class="nav">
{% for menu_item in menu -%}
  <li{% if content_url(menu_item.url) == content_url(resource.url) or menu_item.active %} class="active"{% endif %}>
    <a href="{{ content_url(menu_item.url) }}">{{ menu_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}
